In [1]:
print("Hello Verly")

Hello Verly

In [3]:
name = input("What's your name?")
print("Hello", name)

What's your name?verly
Hello verly

In [ ]:
# string name = input(.....)

#nama = "verly" ----> karakter/string
#nama = 789
#age = 26 -----> number/integer

In [5]:
number = 3
print(type(number))
number = "3"
print(type(number))
number = int("3")
print(type(number))

<class 'int'>
<class 'str'>
<class 'int'>

**Study 1**

Buat program untuk mengecek peserta pemilih pemilu,

jika umur lebih dari 17 tahun dan bawa ktp, maka boleh masuk. selain itu dilarang masuk

In [10]:
#input = umur & ktp
#proses = cek kelayakan --> bawa ktp (ya/tidak) dan umur > 17
#output = boleh masuk / tidak

#Pseudo code / flowchart
#1. input nama dan ktp (y/n)
#2. if ktp = yes and umur > 17 then
#   "boleh"
#   else
#   "tidak boleh"
#3. print hasil cek

#program
#1. input nama dan ktp (y/n)
umur = input("Umur: ? ") #input() always str, need conversion to int
ktp = input("Bawa KTP ? ") #Y/N
#2
if (int(umur) > 17) and (ktp == "Y"):
  #3
  print("boleh")
else:
  #3
  print("dilarang")

Umur: ? 18
Bawa KTP ? Y
boleh

In [17]:
def grading(grade):
  if grade >= 90 and grade <= 100:
    print("A")
  elif grade >80 and grade < 90:
    print("B")
  else:
    print("C")

In [ ]:
#before
grade = int(input("Nilai: ? "))
if grade >= 90 and grade <= 100:
    print("A")
elif grade >80 and grade < 90:
    print("B")
else:
    print("C")

In [18]:
#after
grade = int(input("Nilai: ? "))
grading(grade)

# if karyawan bukan dari KP then dilarang
#if staff != kp then forbidden

Nilai: ? 88
B

In [20]:
#list = kumpulan data lebih dari 1
#kumpulan nilai ujian = [93, 89, 75, 100, 80]
#jumlah data = 5
#jumlah index = data - 1
list_nilai = [93, 89, 75, 100, 80]
print(list_nilai[1])

#program tampilkan nilai ujian di mading sekolah
for idx in range(5):
  grading(list_nilai[idx])

89
A
B
C
A
C

**Study 2**
Buat sebuah sistem yang berfungsi untuk menampilkan seberapa jauh jarak (meter) yang ditempuh setiap 1 jam selama 3 jam

rumus jarak = jarak (km) * 1000

output:
Jam ke 1 = 1200m
Jam ke 2 = 900m
Jam ke 3 = 100m

In [30]:
#input = jarak
#proses = jarak * 1000
#output: Jam ke 1 = 1200m, Jam ke 2 = 900m, Jam ke 3 = 100m

#Pseudo
#1. loop jam (3)
#2. input jarak (km)
#3. hitung/konversi jarak (km to meter)

#program

list_jarak = [1.2, 1.45, 2.3, 1.2, 1.45, 2.3, 1.2, 1.45, 2.3, 1.2, 1.45, 2.3]
jml_data  = len(list_jarak) #len() ambil jumlah data secara otomatis
print(jml_data)
for idx in range(jml_data):
  jarak = list_jarak[idx] * 1000
  print("Jarak: ", jarak, "meter")

12
Jarak:  1200.0 meter
Jarak:  1450.0 meter
Jarak:  2300.0 meter
Jarak:  1200.0 meter
Jarak:  1450.0 meter
Jarak:  2300.0 meter
Jarak:  1200.0 meter
Jarak:  1450.0 meter
Jarak:  2300.0 meter
Jarak:  1200.0 meter
Jarak:  1450.0 meter
Jarak:  2300.0 meter

# Exercise

In [1]:
# Exercise 1

#apakah outputnya true atau false

print( 1 <= 1) #true
print( 1 != 1) #false 1 == 1
print( 1 != 2) #true 1
print( "good" != "bad") #true
print( "good" != "good") #false --> ==
print( "good" != "good ") #true
print(123 == "123") #false

True
False
True
True
False
True
False

In [3]:
#input
number1 = 40
number2 = 30
hasil_kali = number1 * number2
if hasil_kali <= 1000:
  print("hasil_kali: ", hasil_kali)
else:
  hasil_jumlah = number1 + number2
  print("hasil_jumlah: ", hasil_jumlah)

hasil_jumlah:  70

In [7]:
#input
number = 10
for idx in range(number):
  if idx == 0:
    print("Now: ", 0, "Past: ",
        0, "sum: ", 0)
  else:
    sum = idx + idx-1
    print("Now: ", idx, "Past: ",
          idx-1, "sum: ", sum)

Now:  0 Past:  0 sum:  0
Now:  1 Past:  0 sum:  1
Now:  2 Past:  1 sum:  3
Now:  3 Past:  2 sum:  5
Now:  4 Past:  3 sum:  7
Now:  5 Past:  4 sum:  9
Now:  6 Past:  5 sum:  11
Now:  7 Past:  6 sum:  13
Now:  8 Past:  7 sum:  15
Now:  9 Past:  8 sum:  17

In [14]:
#len() = 20row
str = "pynative"
# str = ["p","y","n","a","t","i","v","e"]
# idx=  [ 0,  1,  2,  3,  4,  5,  6,  7]
print("length data ", len(str))
#mampir ke tiap karakter
for idx in range(len(str)):
  if idx % 2 == 0: #genap
    print(str[idx])

length data  8
p
n
t
v

In [13]:
print(14 / 2) #division (float)
print(14 // 2) #division (int)
print(14 % 2) #modulus

7.0
7
0

In [23]:
#before
sum1 = 3 + 2 #duplicate
sum2 = 4 + 6 #duplicate
sum3 = 5 + 5 #duplicate
print(sum1, " ", sum2, " ", sum3)

#=======================
#after

def add(num1, num2):
  sum = num1 + num2
  return sum


sum1 = add(3,2)
sum2 = add(4,6)
sum3 = add(5,5)
print(sum1, " ", sum2, " ", sum3)

5   10   10
5   10   10

In [27]:
def hitung_harga(area):
  harga = area * 1000
  return harga

def area(p, l):
  a = p * l
  return a

#hitung harga daerah 1
area1 = area(5, 7)
harga1 = hitung_harga(area1)

#hitung harga daerah 3
area2 = area(6,6)
harga2 = hitung_harga(area2)

#hitung harga daerah 3
area3 = area(9, 7)
harga3 = hitung_harga(area3)

print( area1, area2, area3 )
print( harga1, harga2, harga3 )

35 36 63
35000 36000 63000

In [30]:
number_x = [75, 20, 30, 40, 30]
#index = data ke-n - 1
num1 = number_x[0]
num2 = number_x[4]
if num1 == num2:
  print ("True")
else:
  print("False")

False